server:
  port: 8001
spring: 
  application:
    name: wm-boot-admin-client-demo
  boot: 
    admin:
      client:
        url:
        - "http://localhost:8000"
management: 
  endpoints:
    web:
      exposure:
        include:
        - "*"