<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.github.ycg000344.weiming.application.basicmanager.mapper.BaseRouterInfoMapper" >
  <resultMap id="BaseResultMap" type="org.github.ycg000344.weiming.application.basicmanager.entity.BaseRouterInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="router_id" property="routerId" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="component" property="component" jdbcType="VARCHAR" />
    <result column="redirect" property="redirect" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="hidden" property="hidden" jdbcType="INTEGER" />
    <result column="always_show" property="alwaysShow" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="roles" property="roles" jdbcType="VARCHAR" />
    <result column="no_cache" property="noCache" jdbcType="INTEGER" />
    <result column="router_parent_id" property="routerParentId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  
  
  <select id="getRouterInfoByIds" parameterType="String" resultMap="BaseResultMap" >
	  	SELECT
		t1.router_id,
		t1.path,
		t1.component,
		t1.redirect,
		t1.name,
		t1.hidden,
		t1.always_show,
		t1.title,
		t1.icon,
		t1.no_cache,
		t1.router_parent_id,
		t1.create_time,
		t1.update_time,
		t1.status 
		,IFNULL((SELECT GROUP_CONCAT(t2.role_name) FROM t_base_role t2 WHERE t2.status = 1 AND FIND_IN_SET(t2.role_id,t1.roles)),'') AS roles
	FROM
		t_base_router t1 
	WHERE
		t1.status = 1 
		AND t1.router_parent_id = #{routerParnetId} 
		AND FIND_IN_SET( t1.router_id, #{routerIds} )
  </select>
  
  <select id="getParentRouters" resultMap="BaseResultMap" parameterType="int">
 	SELECT t.* FROM t_base_router t WHERE t.router_parent_id = #{routerParentId} ORDER BY t.update_time desc , t.create_time desc
  </select>
  
  
  
  
  
</mapper>