<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.github.ycg000344.weiming.application.basicmanager.mapper.BaseUserRoutersInfoMapper">
  <resultMap id="BaseResultMap" type="org.github.ycg000344.weiming.application.basicmanager.entity.BaseUserRoutersInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="router_parent_id" jdbcType="INTEGER" property="routerParentId" />
    <result column="router_ids" jdbcType="VARCHAR" property="routerIds" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
</mapper>